html,
body{
    width:inherit;
    margin:0px;
    padding:0px;
    font-family: "Arial";
    background-color:black;
}

header,
footer{
    height:50px;
    color:#fff;
}

article img{
    height:200px;
}

a:hover,
a.active{
    cursor: pointer;
    opacity: 0.7;
}

.container,
.page{
    width:90%;
    margin-left:auto;
    margin-right: auto;
    margin-top:15px;
    margin-bottom:15px;
}

.container-fluid{
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#e9e9e9;
}

.navbar{
    /*height:50px;*/
    font-size:14px;
}

.navbar .logo{
    height:90%;
}

.navbar-nav{
    float:right;
}

.navbar-nav li{
    float: left;
    margin-right:10px;
    margin-left:10px;
    white-space: nowrap;
}

.navbar-nav a{
    color:#fff;
    text-decoration: none;
}

.page{
    padding:20px;
    background-color:#fff;
    border: solid 1px #dadada;
    box-shadow: 0px 4px 4px -3px #5d5d5d;
}

.page h3{
    color: #676767;
}

.page .page-info{
    color: #c4c4c4;
}

.page figure{
    width:300px;
    padding:10px;
    border:1px solid #5d5d5d;
    text-align: center;
}

p:not(.page-info){
    text-indent: 2em;
}

table{
    width:100%;
    text-align: left;
    border-collapse: collapse;
}

table,
th,
td{
    border:1px solid #c7c7c7;
}

table thead{
    background-color:#000;
    color: #fff;
}

table tfoot{
    background-color: #c7c7c7;
}



footer{
    padding-top:10px;
    text-align:center;
}