html{
    width:inherit;
    margin:0px;
    padding:0px;
    font-family: "Arial";
}

body{
    width:inherit;
    margin:0px;
    padding:0px;
    background-color: black;
}

nav{
    position: absolute;
    top: 0px;
    left:0px;
    width:100%;
    height:60px;
    padding-top:5px;
    padding-bottom:5px;
}

nav img{
    height:90%;
    margin-left:20px;
}

nav ul{
    float: right;
}

nav li{
    float: left;
    margin-right:10px;
    margin-left:10px;
}

nav li a{
    color:#fff;
    font-size:14px;
    text-decoration: none;
}

nav li a:hover,
nav li a.active{
    opacity: 0.8;
}

.container{
    position: absolute;
    top:70px;
    width:inherit;
    background-color: #e9e9e9
}

.container article{
    width:90%;
    margin-left:auto;
    margin-right: auto;
    margin-top:20px;
    padding:20px;
    background-color: #ffffff;
}

.container article h3{
    color: #676767;
}

.container article .page-info{
    color: #c4c4c4;
}

p:not(.page-info){
    text-indent: 2em;
}