html,
body{
    background-color: #ededec;
    margin:0px;
}

a{
    color:inherit;
    text-decoration: none;
}

a:hover{
    opacity: 0.8;
}

p{
    margin-top:0px;
    margin-bottom:0px;
}
ul{
    list-style-type: none;
}

.row:before,
.row:after{
    content: '';
    display: table;
}

.row:after{
    clear: both;
}

.row{
    width:inherit;
}

.col{
    display: inline;
    float: left;
}

/*
    search input
*/
.search-control{
    position: relative;
    height: 30px;
}

.search-control:before{
    content: '';
    position: absolute;
    display: inline-block;
    height:25px;
    width: 50px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #fff;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
}

.search-control input{
    position: absolute;
    right: 0px;
    display: inline-block;
    height: 25px;
    width: calc(100% - 35px);
    border:0px;
    padding:0px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.search-control input:focus{
    outline: 0px;
}

/*
    logo icon
*/

.logo{
    position: relative;
    display: inline-block;
    float: left;
    width: 30px;
    height: 30px;
    background-color: #fff;
}

.logo:after{
    content: '';
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 10px;
    height: 10px;
    border-top:2px solid #2189bf;
    border-left:2px solid #2189bf;
}


/*
    select
*/
.select{
    display: inline-block;
    padding-left: 0px;
}

.select li{
    display: none;
    padding-left: 10px;
    padding-right: 20px;
    padding-top:2px;
    padding-bottom:2px;
}

.select li:first-child{
    position: relative;
    display: inline-block;
    border:1px solid #aaa;
}

.select li:first-child:after{
    content: '';
    background-image: url("../img/down.png");
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    top: 5px;
}

.select li:last-child{
    border-bottom:1px solid #aaa;
}

.select li:not(:first-child){
    border-left:1px solid #aaa;
    border-right: 1px solid #aaa;

}

.select li:nth-child(*){
    display: inline-block;
}



/*
    top bar
*/
.navbar{
    background-color: #2189bf;
    color: #ffffff;
}

.navbar .nav{
    height: 45px;
    width:94%;
    padding-top:15px;;
    margin-left:auto;
    margin-right: auto;
    margin-bottom:auto;
}

.navbar .nav > *{
    margin-top: 5px;
}

.navbar .search-control{
    width: 200px;
    float: right;
    /*top:15px;*/
}

.navbar .nav .user{
    position: relative;
    /*top:15px;*/
    float: right;
    margin-left:20px;
}

.navbar .user .text{
    margin-bottom:10px;
}

/*
    left side menu
*/

.sidebar{
    position: fixed;
    width:260px;
    height: calc(100% - 45px);
    background-color: #2a2e3d;
    overflow-y: auto;
}

.sidebar .s-user{
    margin-left:auto;
    margin-right:auto;
    width: 160px;
    height: 80px;
    color:#bababe;
}

.sidebar .s-user .photo,
.sidebar .s-user .username{
    position: relative;
    width: 50%;
    height: inherit;
    margin-top:20px;
}

.sidebar .s-user .photo .circle{
    position: absolute;
    right: 10px;
    width:50px;
    height: 50px;
    border:1px solid #bababe;
    border-radius:50%;
}

.sidebar .s-user .photo .circle:after{
    content: '';
    position: absolute;
    left:2px;
    top: 2px;
    width:46px;
    height:46px;
    background-color:#bababe;
    border-radius:50%;
}

.sidebar .s-user .username{
    line-height: 50px;
}

.sidebar .s-info{
    position: relative;
    height: 60px;
    width: 160px;
    margin-left:auto;
    margin-right:auto;
    font-size: 14px;
    color:#6e8095;
}

.sidebar .s-info .l-col,
.sidebar .s-info .r-col{
    position: relative;
    top: 0px;
    text-align: center;
    padding-left:20px;
    padding-right: 20px;
    /*background-color:red;*/
}

.sidebar .s-info .l-col{
    border-right: 2px solid #313545;
}

.sidebar .menu{
    padding-left: 0px;
    text-align: left;
    font-size: 14px;
    color:#6d8095;
}

.sidebar .menu .m-item{
    padding-left: 40px;
    line-height: 35px;
}

.sidebar .menu .m-item .fa{
    margin-right: 15px;
}

.sidebar .menu .m-item:hover{
    margin:0px;
    cursor: pointer;
    background-color:#383d4e;
    color:#fff;
}

.sidebar .menu .m-item.active{
    background-color:#383d4e;
    color:#fff;
}

.sidebar .submenu{
    padding-left: 20px;
    color:#6d8095;
}

.sidebar .submenu .s-item.active{
    color:#fff;
}

/*
    right container
*/
.section{
    position: relative;
    float: right;
    width: calc(100% - 260px);
    overflow-y: auto;
    /*background-color: blue;*/
}

.section .tbar{
    width: 100%;
    padding-left:20px;
    padding-top:5px;
    padding-bottom:5px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.section .tbar .path{
    font-size:14px;
    color:#aaa;
}

.section .tbar .path:hover,
.section .tbar .path.active{
    color:#2189bf;
}

.section .tbar .path:not(:last-child):after{
    content:' / ';
    margin-left:5px;
    margin-right:5px;
}

.section .row{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    margin-top:15px;
    margin-bottom:15px;
}

.section .search-form{
    height: 100px;
    font-size:14px;
    background-color: #ffffff;
}

.section .search-form .col{
    display: table;
    width: 20%;
    padding-top:20px;
    padding-left:20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.section .search-form .form-control,
.section .search-form .label{
    display: table-cell;
    vertical-align: middle;
}

.section .search-form .label{
    width: 40%;
}

.section .search-form .form-control{
    width: 60%;
}