html,
body{
    background-color: #ededec;
    margin:0px;
}

* {
    box-sizing: border-box;
}

a{
    color:inherit;
    text-decoration: none;
}

a:hover{
    opacity: 0.8;
}

p{
    margin-top:0px;
    margin-bottom:0px;
}
ul{
    list-style-type: none;
}

input{
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #aaa;
}

.row:before,
.row:after{
    content: '';
    display: table;
}

.row:after{
    clear: both;
}

.row{
    width:inherit;
}

.col{
    display: inline;
    float: left;
}

/*
    search input
*/
.search-control{
    position: relative;
    height: 30px;
}

.search-control:before{
    content: '';
    position: absolute;
    display: inline-block;
    height:25px;
    width: 50px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #fff;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
}

.search-control input{
    position: absolute;
    right: 0px;
    display: inline-block;
    height: 25px;
    width: calc(100% - 35px);
    border:0px;
    padding:0px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.search-control input:focus{
    outline: 0px;
}

/*
    logo icon
*/

.logo{
    position: relative;
    display: inline-block;
    float: left;
    width: 30px;
    height: 30px;
    background-color: #fff;
}

.logo:after{
    content: '';
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 10px;
    height: 10px;
    border-top:2px solid #2189bf;
    border-left:2px solid #2189bf;
}

/*
    form field select
*/

.select{
    position: relative;
    display: inline;
}
.select a{
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #aaa;
    width: inherit;
}

.select a .fa{
    margin-left: 5px;
    font-size: 80%;
    color: #2189bf;
    position: absolute;
    top: 4px;
    right: 5px;
}

.select a,
.select li{
    padding-left: 6px;
    padding-right: 6px;
}

.select ul{
    position: absolute;
    display: none;
    z-index: 99;
    top: 8px;
    left: 0px;
    float: left;
    width: 100%;
    padding-left: 0px;
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.select a:hover+ul{
    display: block;
}

/*
    button
*/
.btn{
    padding:5px 10px;
    border:none;
    background-color:#2189bf;
    color:#fff;
}

.btn:hover{
    cursor: pointer;
    opacity: 0.8;
}


/*
    top bar
*/
.navbar{
    position: fixed;
    width: 100%;
    background-color: #2189bf;
    color: #ffffff;
    z-index: 99;
}

.navbar .nav{
    height: 50px;
    width: 94%;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.navbar .nav > *{
    margin-top: 5px;
}

.navbar .search-control{
    width: 200px;
    float: right;
    /*top:15px;*/
}

.navbar .nav .user{
    position: relative;
    /*top:15px;*/
    float: right;
    margin-left:20px;
}

.navbar .user .text{
    margin-bottom:10px;
}

/*
    left side menu
*/

.sidebar{
    position: fixed;
    top:50px;
    width:260px;
    height: calc(100% - 45px);
    background-color: #2a2e3d;
    overflow-y: auto;
}

.sidebar .s-user{
    margin-left:auto;
    margin-right:auto;
    width: 160px;
    height: 80px;
    color:#bababe;
}

.sidebar .s-user .photo,
.sidebar .s-user .username{
    position: relative;
    width: 50%;
    height: inherit;
    margin-top:20px;
}

.sidebar .s-user .photo .circle{
    position: absolute;
    right: 10px;
    width:50px;
    height: 50px;
    border:1px solid #bababe;
    border-radius:50%;
}

.sidebar .s-user .photo .circle:after{
    content: '';
    position: absolute;
    left:1px;
    top: 1px;
    width:46px;
    height:46px;
    background-color:#bababe;
    border-radius:50%;
}

.sidebar .s-user .username{
    line-height: 50px;
}

.sidebar .s-info{
    position: relative;
    height: 60px;
    width: 160px;
    margin-left:auto;
    margin-right:auto;
    font-size: 14px;
    color:#6e8095;
}

.sidebar .s-info .l-col,
.sidebar .s-info .r-col{
    position: relative;
    top: 0px;
    text-align: center;
    padding-left:20px;
    padding-right: 20px;
    /*background-color:red;*/
}

.sidebar .s-info .l-col{
    border-right: 2px solid #313545;
}

.sidebar .menu{
    padding-left: 0px;
    text-align: left;
    font-size: 14px;
    color:#6d8095;
}

.sidebar .menu .m-item{
    padding-left: 40px;
    line-height: 35px;
}

.sidebar .menu .m-item .fa{
    margin-right: 15px;
}

.sidebar .menu .m-item:hover{
    margin:0px;
    cursor: pointer;
    background-color:#383d4e;
    color:#fff;
}

.sidebar .menu .m-item.active{
    background-color:#383d4e;
    color:#fff;
}

.sidebar .submenu{
    padding-left: 20px;
    color:#6d8095;
}

.sidebar .submenu .s-item.active{
    color:#fff;
}

/*
    right container
*/
.section{
    position: relative;
    top:50px;
    float: right;
    width: calc(100% - 260px);
    overflow-y: hidden;
    /*background-color: blue;*/
}

.section .tbar{
    width: 100%;
    padding-left:20px;
    padding-top:5px;
    padding-bottom:5px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.section .tbar .path{
    font-size:14px;
    color:#aaa;
}

.section .tbar .path:hover,
.section .tbar .path.active{
    color:#2189bf;
}

.section .tbar .path:not(:last-child):after{
    content:' / ';
    margin-left:5px;
    margin-right:5px;
}

.section .row{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    margin-top:15px;
    margin-bottom:15px;
}

.section .search-form{
    height: 100px;
    font-size:14px;
    padding:15px;
    background-color: #ffffff;
    border:1px solid rgba(170, 170, 170, 0.5);
}

.section .search-form .form-group{
    margin-bottom:10px;
}

.section .search-form .label,
.section .search-form .form-control{
    margin-left:10px;
    margin-right:10px;
}

.section .search-form .label{
    width: 30%;
}

.section .search-form .form-control{
    width:50%;
}

.section .search-form [class*='col-']{
    /*display: inline-flex;*/
    /*flex-direction: row;*/
    /*align-items: center;*/
    height: 100%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.section .search-form .col-1{
    width: 18%;
}

.section .search-form .col-2{
    width:24%;
}

.section .search-form .col-3{
    width:40%;
}

.section .search-form .col-3 input{
    margin-right:15px;
}

.section .search-form .col-3 .form-row{
    display: inline-block;
    width: 120px;
}

.section .search-form .col-3 .form-row2:first-child{
    display: inline-block;
    width:100px;
}

.section .search-form .col-3 .form-row2:last-child{
    display: inline-block;
    width:220px;
}

.section .history .prev,
.section .history .next,
.section .history .block,
.section .history .search{
    float:left;
    height:64px;
    margin-right:5px;
    background-color:#fff;
    border:1px solid rgba(170, 170, 170, 0.5);
}

.section .history :last-child{
    margin-right:0px;
}

.section .history .prev,
.section .history .next{
    width:3%;
    color:#aaa;
}

.section .history .prev .fa,
.section .history .next .fa{
    width:100%;
    text-align: center;
    line-height: 60px;
}

.section .history .block{
    position: relative;
    width:12%;
}

.section .history .block:hover,
.section .history .search:hover{
    cursor: pointer;
}

.section .history .block.active:before{
    content: '';
    position: absolute;
    top:0px;
    width:100%;
    height: 4px;
    background-color:#2189bf;
}

.section .history .block:hover:before{
    content: '';
    position: absolute;
    top:0px;
    width:100%;
    height: 4px;
    background-color:#2189bf;
}

.section .block .time{
    margin-top:6px;
    text-align: center;
    font-size:14px;
}

.section .block .cost{
    margin-top:6px;
    text-align: center;
    font-size:24px;
    color: #ec6500;
}

.section .block .cost .fa{
    font-size:18px;
    color:#aaa;
}

.section .history .search{
    display: inline-table;
    width:calc( 22% - 40px );
    padding-top:6px;
    padding-left:20px;
    padding-right: 20px;
    text-align: center;
}

.section .history .search .fa{
    display: table-cell;
    font-size:34px;
    color:#2189bf;
    vertical-align: middle;
}

.section .history .search .text{
    display: table-cell;
    vertical-align: middle;
}

.section .count{
    display: table;
}

.section .count .title{
    font-size: 14px;
}

.section .count .c-l{
    display: table-cell;
    height: 100%;
    padding-left:16px;
    padding-right:50px;
    padding-top:10px;
}

.section .count .num{
    margin-top:-5px;
    margin-bottom: 10px;
    color:#aaa;
}

.section .count .c-r{
    display: table-cell;
    width:80px;
    height: 60px;
    padding-left:15px;
    padding-top:10px;
}

.section .count .c-green,
.section .count .c-red,
.section .count .c-blue,
.section .count .c-yellow{
    position: relative;
    height: 80px;
    float: left;
    width:23%;
    /*margin-right: 24px;*/
    margin-right: calc(8% / 3);
    padding-top: 10px;
    font-size: 14px;
    background-color:#fff;
    border:1px solid rgba(170, 170, 170, 0.5);
}

.section .count .c-green:before,
.section .count .c-red:before,
.section .count .c-blue:before,
.section .count .c-yellow:before{
    content: '';
    position:absolute;
    left:0px;
    top:-1px;
    height: calc(100% + 2px);
    width: 6px;
}

.section .count .c-green:before,
.section .count .c-green .c-r{
    background-color: #44b29e;
}

.section .count .c-red:before,
.section .count .c-red .c-r{
    background-color: #388bc2;
}

.section .count .c-blue:before,
.section .count .c-blue .c-r{
    background-color: #d04a36;
}

.section .count .c-yellow:before,
.section .count .c-yellow .c-r{
    background-color: #e2cd46;
}

.section .count .c-yellow{
    margin-right: 0px;
}

.section .project-content .left-col,
.section .project-content .right-col{
    height: 300px;
    background-color:#fff;
    float: left;
}

.section .project-content .left-col{
    width:59%;
    margin-right: 1%;
}

.section .project-content .right-col{
    width:40%;
}

.section .panel{
    position: relative;
    border-radius:10px;
    border:1px solid rgba(170, 170, 170, 0.5);
}

.section .panel-title{
    position: relative;
    top: 0px;
    left:0px;
    width: 100%;
    padding-left:20px;
    padding-top:10px;
    padding-bottom: 10px;
    font-size:14px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom:1px solid rgba(170, 170, 170, 0.5);
    background-color:#f4f5f7;
    color:#aaa;
}

.section .tab-panel{
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

/*
    tab panel
*/

.tab-panel .tab-radio{
    opacity: 1;
}

.tab-panel .tab{
    display: inline-block;
}